<div id="page" layout="column" layout-align="stretch">
    <div class="header-container" layout="column" layout-align="stretch" flex="10">
        <div id="header-body" layout="row" layout-align="stretch">
            <div id="logo-container" flex="25">
                <picture> 
                    <source media="(min-width: 200px)" sizes="80vw" srcset="images/whereweather-logo.png"> 
                    <img class="whereweather-logo-sm" style="width: 100%; height: 100%;" src="" alt="" sizes="80vw" srcset=""> 
                </picture>
            </div>
            <div id="header-search" layout="column" layout-aliogn="center center" flex="50">
                <div id="place-autocomplete">
                    <md-autocomplete md-no-cache="false"
                                    md-input-name="autocompleteField"
                                    md-selected-item="selectedItem"
                                    md-selected-item-change="getLatLng(item)"
                                    ng-model-options="{debounce: 600}"
                                    md-search-text-change="search(searchText)"
                                    md-search-text="searchText"
                                    md-items="item in search(searchText)"
                                    md-item-text="item.description"
                                    md-min-length="2"
                                    md-max-length="50"
                                    md-floating-label="Location (area and city)"
                                    placeholder="Type your address">
                    <md-item-template>
                        <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.description}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found for "{{searchText.description}}".
                    </md-not-found>
                    </md-autocomplete>
                </div>
            </div>
            <div id="header-tools" flex="25">
            </div>
        </div>
    </div>
    <div class="body-container" flex="75" style="background: #E0E0E0;">
        <div ng-show="raining" class="rain front-row"></div>
        <div id="body-content" class="body-content" flex="100" layout="column" layout-align="stretch" ng-show="showWeather">
            <div layout="column" layout-align="center center" flex="60">
                <div layout="column" layout-align="center center" class="temp-section" flex="100">
                    <div flex="5" style="font-size: 2.5vh; color: #303030">
                        {{unixTime(weatherReport.currently.time)}}
                    </div>
                    <div flex="90" style="color: #303030;" layout="column" layout-align="start center">
                        <div>
                            {{weatherReport.currently.temperature}}°
                        </div>
                        <div flex="100" layout="column" layout-align="start start" class="temp-section-subtext">
                            <div>
                                Humidity: {{(100*weatherReport.currently.humidity).toFixed(0)}}%
                            </div>
                            <div>
                                Chance of Rain: {{(100*weatherReport.currently.precipProbability).toFixed(0)}}%
                            </div>
                            <div>
                                Summary: {{weatherReport.currently.summary}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div layout="row" layout-align="center end" flex="40">
                <div flex ng-repeat="day in weatherReport.daily.data track by $index" class="full-height day" layout="column" layout-align="start center" ng-show="$index != 0">
                    <div class="day-header">
                        {{unixTime(day.time)}}
                    </div>
                    <div class="day-body" flex="70" layout="column" layout-align="center center">
                        <div>
                            <md-icon class="day-icon" md-svg-src="https://github.com/COLTstreet/whereweather/blob/master/app/images/{{day.icon}}.svg"></md-icon>
                        </div>
                    </div>
                    <div class="day-footer">
                        Humidity: {{(100*day.humidity).toFixed(0)}}% </br>
                        Chance of Rain: {{(100*day.precipProbability).toFixed(0)}}%
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-container" flex="15" layout="column" layout-align="center center ">
        <div>
            <a href="https://darksky.net/poweredby" target="_blank" style="color:#989898">Powered by Dark Sky</a>
        </div>
        </br>
        <div layout="row">
            <div>
                <md-button class="md-fab md-mini md-primary" ng-href="https://www.linkedin.com/in/colt-street-b1b34946" target="_blank" aria-label="LinkedIn">
                    <i class="fa fa-linkedin-square fa-lg" aria-hidden="true" aria-label="linkedin"></i>
                    <md-tooltip>LinkedIn</md-tooltip>
                </md-button>
            </div>
            <div>
                <md-button class="md-fab md-mini md-primary" ng-href="https://github.com/COLTstreet" target="_blank" aria-label="GitHub">
                    <i class="fa fa-git-square fa-lg" aria-hidden="true" aria-label="GitHub"></i>
                    <md-tooltip>GitHub</md-tooltip>
                </md-button>
            </div>
            <div>
                <md-button class="md-fab md-mini md-primary" ng-href="mailto:colt.k.street@gmail.com?Subject=Hello!" target="_blank" aria-label="Gmail">
                    <i class="fa fa-envelope" aria-hidden="true" aria-label="Gmail"></i>
                    <md-tooltip>Gmail</md-tooltip>
                </md-button>
            </div>
            <div>
                <md-button class="md-fab md-mini md-primary" ng-href="https://plus.google.com/u/0/116028321943063867870" target="_blank" aria-label="Google+">
                    <i class="fa fa-google-plus" aria-hidden="true" aria-label="Google"></i>
                    <md-tooltip>Google+</md-tooltip>
                </md-button>
            </div>
        </div>
    </div>
</div>
